@charset "UTF-8";
/*COLORES*/
/*MARGENES*/
/*TAMAÑO DE FUENTES*/
/*RESOLUCIONES*/
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Russo One", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 140, 0, 0.907);
}

.nav-link,
.nav-link.active,
.navbar-nav .nav-link.active .container-fluid {
  color: rgb(255, 255, 255);
  transition: all 1s;
}
.nav-link:hover,
.nav-link.active:hover,
.navbar-nav .nav-link.active .container-fluid:hover {
  color: rgba(255, 140, 0, 0.907);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show .nav-link {
  color: rgb(255, 255, 255);
  transition: all 1s;
}
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show .nav-link:hover {
  color: rgba(255, 140, 0, 0.907);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 1s;
}
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover {
  color: rgba(255, 140, 0, 0.907);
}

.navbar-brand {
  color: rgb(255, 255, 255);
  transition: all 1s;
}
.navbar-brand:hover {
  color: rgba(255, 140, 0, 0.907);
}

.navbar-toggler-icon {
  border-color: aliceblue;
}

.imgindex {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  padding: 1%;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 10px;
  -webkit-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  -moz-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
}

.preguntas-f {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.derechos {
  font-size: 10px;
  justify-content: center;
}

.whatsapp {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  font-size: 40px;
  margin-left: 38%;
}

.instagram {
  text-decoration: none;
  font-size: 30px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(36, 34, 34, 0.439);
  }
  .imgindex {
    width: 20rem;
  }
  .btn {
    margin-top: 100px;
    font-size: 20px;
  }
  .derechos {
    font-size: 14px;
  }
  .whatsapp {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    top: 80%;
  }
}
.carousel {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid rgba(255, 140, 0, 0.907);
  width: 80%;
  margin-bottom: 3%;
  -webkit-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  -moz-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
}

.segunda-galeria {
  width: 50%;
}

.titulo-contacto {
  font-size: 15px;
}

.titulo-parrafo {
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
}

.img-elementos {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 3%;
  width: 70%;
  border: 2px solid rgba(255, 140, 0, 0.907);
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  -moz-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
}

.link-app-a {
  text-decoration: none;
}
.link-app-a .link-app {
  background-color: rgba(255, 140, 0, 0.907);
  margin: auto auto;
  margin-top: 7%;
  margin-bottom: 7%;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  text-shadow: rgb(0, 0, 0) 1px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10%;
  width: 250px;
  -webkit-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  -moz-box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
  box-shadow: 0px 0px 101px 3px rgb(127, 138, 81);
}
.link-app-a .link-app:hover {
  background-color: black;
  color: rgba(255, 140, 0, 0.907);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .titulo-nos {
    font-size: 50px;
  }
  .titulo-contacto {
    font-size: 30px;
  }
  .titulo-parrafo {
    font-size: 15px;
  }
  .carousel {
    max-width: 30%;
  }
  .img-elementos {
    max-width: 31%;
  }
  .elementos-entrenamiento {
    display: flex;
  }
  .ocultar {
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .link-app {
    font-size: 100px;
  }
}
.titulo-turnos {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

.turnos-a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto auto;
}

@media (min-width: 768px) {
  .turnos-a {
    width: 400px;
  }
}
.parrafo-mision {
  text-align: justify;
  padding: 4%;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .parrafo-mision {
    font-size: 20px;
  }
}
.parrafo-contacto {
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  padding: 3%;
}

.parrafo-contacto2 {
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.whatsapp-contacto {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.contenedor-preguntas {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.titulo-preguntas {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 3%;
}

.parrafo-preguntas {
  padding: 5%;
  text-align: justify;
  color: rgb(155, 154, 154);
  font-size: 14px;
}

@media (min-width: 768px) {
  .titulo-preguntas {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 0;
  }
  .parrafo-preguntas {
    padding: 5%;
    text-align: justify;
    color: rgb(155, 154, 154);
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
