.titulo-turnos {
    text-decoration: none;
    color: $color-principal;
    text-align: center;
}
.turnos-a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto auto;
}

@media (min-width: $tablet) {
    .turnos-a {
        width: 400px;
    }
}