.parrafo-contacto {
    text-align: center;
    margin-top: 50px;
    color: $color-principal;
    padding: 3%;
}
.parrafo-contacto2 {
    text-align: center;
    margin-top: 50px;
    color: $color-principal;
}
.whatsapp-contacto {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}