
.carousel {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid $color-secundario;
    width: 80%;
    margin-bottom: 3%;
    @include Sombras
}
.segunda-galeria {
    width: 50%;
}
.titulo-contacto {
    font-size: 15px;
}
.titulo-parrafo {
    color: $color-principal;
    font-size: 10px;
    text-align: center;
}

.img-elementos {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3%;
    width: 70%;
    border: 2px solid $color-secundario;
    border-radius: 1%;
    @include Sombras
}
.link-app-a {
    text-decoration: none;

.link-app {
    background-color: $color-secundario;
    margin: auto auto;
    margin-top: 7%;
    margin-bottom: 7%;
    color: $color-principal;
    transition: 0.5s;
    text-shadow: $color-terciario 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    border: 2px solid $color-terciario;
    border-radius: 10%;
    width: 250px;
    @include Sombras;
    &:hover {
        background-color: black;
        color: $color-secundario;
        transition: 0.5s;
    }
}
}
@media (min-width: $tablet) {
    .titulo-nos{
        font-size: 50px;
    }
    .titulo-contacto {
        font-size: 30px;
    }
    .titulo-parrafo {
        font-size: 15px;
    }
    .carousel {
        max-width: 30%;
    }
    .img-elementos {
        max-width: 31%;
    }
    .elementos-entrenamiento {
        display: flex;
    }
    .ocultar {
        font-size: 0;
    }
}
@media (min-width:$tablet) {
    .link-app {
        font-size: 100px;
    }
}