/*COLORES*/
$color-principal: rgb(255, 255, 255);
$color-secundario: rgba(255, 217, 0, 0.866);
$color-terciario: rgb(0, 0, 0);
$color-4:  rgba(36, 34, 34, 0.439);

/*MARGENES*/
$mg-min: 10px;
$mg-min2: 20px;
$mg-mid: 40px;
$mg-big: 60px;
/*TAMAÑO DE FUENTES*/
$font-ss: 14px;
$font-sm: 20px;
$font-sb: 60px;
/*RESOLUCIONES*/
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;