/*COLORES*/
$color-principal: rgb(255, 255, 255);
$color-secundario: rgba(255, 140, 0, 0.907);
$color-terciario: rgb(0, 0, 0);
$color-4:  rgba(36, 34, 34, 0.439);

/*MARGENES*/
$mg-min: 10px;
$mg-min2: 20px;
$mg-mid: 40px;
$mg-big: 60px;
/*TAMAÑO DE FUENTES*/
$font-ss: 14px;
$font-sm: 20px;
$font-sb: 60px;
/*RESOLUCIONES*/
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;

@mixin Sombras{
    -webkit-box-shadow: 0px 0px 101px 3px rgba(127,138,81,1);
    -moz-box-shadow: 0px 0px 101px 3px rgba(127,138,81,1);
    box-shadow: 0px 0px 101px 3px rgba(127,138,81,1);
}